@import "../node_modules/bootstrap/scss/bootstrap";

$primario : #031716;
$secundario : #032f30;
$tercero : #0a7075;
$cuarto : #0c969c;
$quinto : #6ba3be;

$dark : #02090b;
$light : #ffffff;
$secondary: #0D1E4C;
$bg-body : #e6e6e6;
$shadow : #274d60;
$cancelado : #e81400;
$realizado : #01ab68;
$cuidado : #f3a001;

body {
    background-color: $bg-body;
    margin-top: 5rem;
}

h1 {
    text-align: center;
}

.bg-light {
    background-color: $light;
}

.primario {
    color: $primario;
}

@mixin out-line($color, $grosor) {
    border: $color $grosor solid;
}

.btn-outline-success {
    @extend .primario;
    @include out-line($primario, 1px);
    transition: all ease .3s;

    &:hover {
        background-color: $primario;
        color: $light;
    }
}

@mixin sombra($color, $lado1: 5px, $lado2: 0px, $difuminado: 0px) {
    box-shadow: $color $lado1 $lado2 $difuminado;
}

@mixin dimensiones($alto, $ancho: $alto, $maxHeight: $alto, $maxWidth: $ancho) {
    max-height: $maxHeight;
    min-width: $ancho;
    height: $alto;
    max-width: $maxWidth;
}

@mixin colorearLink($color: $dark) {
    text-decoration: none;
    color: $color;
    font-weight: 400;
}

.centrado-absoluto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


table th, table td{
    border-left: .5px solid $white;
    border-right: .5px solid $white;
    border-radius: 3px;
}

.table-primary th {
    background-color: rgba($primario, 1);
    color: $white;
    text-align: center;
}

.c-num{
    text-align: end;
}


.table{
    &-success td{
        background-color: rgba($color: $realizado, $alpha: .4);
    }

    &-warning td{
        background-color: rgba($cuidado, .3);
    }

    &-danger td{
        background-color: rgba($cancelado, .3);
    }
}

.dashboard {
    @include dimensiones(14, 100%, max-content);
    @include sombra($shadow, 1px, 1px, 2px);
    @extend .centrado-absoluto;
    background-color: $light;
    margin-bottom: 4rem;
    padding: 2rem;

    .tarjeta {
        @include dimensiones(8rem, 18rem, 8rem);
        padding: .5rem;
        color: $light;
        flex-grow: 1;
        margin: .5rem;

        .data {
            height: 2rem;
            font-weight: 600;
        }

        .description {
            display: flex;
            flex-direction: row;
            height: 3rem;
            gap: 2rem;

            p {
                align-self: flex-end;
                width: 9rem;
            }

            span {
                width: 6rem;
                font-size: 3rem;
                text-align: end;
                transition: all ease .4s;
                color: rgba($white, .3);
            }
        }

        .action {
            height: 2rem;
        }

        &:hover {
            .description span {
                color: $light;
            }

            & .action span {
                transform: translateX(10rem);
            }
        }
    }

    a {
        @include colorearLink($light);

        span {
            transition: all ease .4s;
        }
    }


    .canceladas {
        background-color: $secundario;
    }

    .realizadas {
        background-color: $cuarto;
    }

    .pendientes {
        background-color: $primario;
    }

    .camino {
        background-color: $tercero;
    }

    canvas {
        flex-grow: 1;
        @include dimensiones(15rem, 100%, 20rem, 100%);
        margin-bottom: 2rem;
    }
}

form {
    padding: .5rem;
}

.acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 1rem;

    span{
        padding: 8px;
        border-radius: 5px;
        transition: all ease .3s;

        &:hover{
            transform: scale(1.2);
        }
    }

    .fa-trash {
        background-color: rgba($danger, .8);
        color: $white;
    }

    .fa-pencil{
        background-color: rgba($cuidado, .8);
    }
}


@media (max-width:668px) {
    #alertDisplay {
        opacity: 1;
        display: block;
    }
}

#charger {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}



.spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #ccc;
    border-radius: 50%;
    border-top: 10px solid #333;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}